.outer{
    text-align: center; 
    background-color: rgb(244, 199, 140); 
    margin-bottom: 0px; 
    padding-bottom: 0px;
}

.inner{
    text-align: center; 
    background-color: antiquewhite; 
    margin-top: 0px; 
    padding-top: 0px;
}

.active {
    font-weight: bold;
    text-decoration: underline;
}