<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>View</title>
</head>
<body>
    <div class="main" >
        <h1> <b> Meeting Schedule </b> </h1>
        <br>
        <div *ngIf="loading; else loadedTemplate" >
            <div class="text-center">
                <h3>Loading Meetings...</h3>
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <ng-template #loadedTemplate >
            <div class="filter-section" *ngIf="meetingInfo.length > 0; else noMeetingsTemplate">
                <label for="filter">Filter by Topic:</label>
                <input #filterInput type="text" id="filter" class="form-control" (input)="filterMeetings(filterInput.value)"
                placeholder="Type topic to filter">
            </div>
        </ng-template>
        <!-- <hr> -->
         <div class="row"  *ngIf="filteredMeetings.length > 0;">
            <div class="col-md-10">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Topic</th>
                            <!-- <th scope="col">#People</th> -->
                            <!-- <th scope="col">Date & Time</th> -->
                            <th scope="col">Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr #meetingRow *ngFor="let info of filteredMeetings"
                        [class.highlight]="info === selectedMeeting"
                        (click)="viewMeetingDetails(info)">
                            <td scope="row">{{info.id}}</td> 
                            <td>{{info.topic}}</td> 
                            <!-- <td>{{info.npeople}}</td>  -->
                            <!-- <td>{{info.time | date: 'medium'}} </td>  -->
                            <td><button class="btn btn-secondary" (click)="viewMeetingDetails(info)">Details</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">
                <app-meeting-details *ngIf="selectedMeeting" [meeting]="selectedMeeting" (close)="clearSelection()"></app-meeting-details>
            </div>
        </div>
        <ng-template #noMeetingsTemplate>
            <div class="text-center">
                <h3>No meetings scheduled yet.</h3>
            </div>
        </ng-template>
    </div>

    
</body>
</html>
